/*Show ERROR*/
.toast{
    width: 350px;
    height: 80px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1.3fr 6fr 0.5fr;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    opacity: 0;  /* Set initial opacity to 0 */
}
.success{
    border-left: 8px solid #47D764;
}
.error{
    border-left: 8px solid #ff355b;
}
.warning{
    border-left: 8px solid #FFC021;
}
.error i{
    color: #ff355b;
}
.info i{
    color: #2F86EB;
}
.warning i{
    color: #FFC021;
}
.toast:not(:last-child){
    margin-bottom: 50px;
}
.container-1,.container-2{
    align-self: center;
}
.container-1 i{
    font-size: 35px;
}
.success i{
    color: #47D764;
}
.container-2 p:first-child{
    color: #101020;
    font-weight: 600;
    font-size: 16px;
}
.container-2 p:last-child{
    font-size: 12px;
    font-weight: 400;
    color: #656565;
}
@keyframes loadingAnimation {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.toast.success .loadingSucces.active {
    display: block; /* Hiển thị thanh loading khi có class "active" */
}

.toast.success .container-2 p {
    margin-bottom: 0; /* Remove the default margin-bottom for the text */
}

.toast.warning .loadingWarning.active {
    display: block; /* Hiển thị thanh loading khi có class "active" */
}

.toast.warning .container-2 p {
    margin-bottom: 0; /* Remove the default margin-bottom for the text */
}

.toast.error .loading1.active {
    display: block; /* Hiển thị thanh loading khi có class "active" */
}

.toast.error .container-2 p {
    margin-bottom: 0; /* Remove the default margin-bottom for the text */
}
.container-2 {
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.loading1 {
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg,#fff 50%, #fff, #ff355b, #ff355b 50%);
    background-size: 200% 100%;
    animation: loadingAnimation 5s linear 1;
    margin-bottom: 10px;
    border-radius: 10px;
    animation: loadingAnimation 10s linear forwards;
    display: none;
}

.loadingWarning {
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg,#fff 50%, #fff, #FFC021, #FFC021 50%);
    background-size: 200% 100%;
    animation: loadingAnimation 5s linear 1;
    margin-bottom: 10px;
    border-radius: 10px;
    animation: loadingAnimation 10s linear forwards;
    display: none;
}
.loadingSucces {
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg,#fff 50%, #fff, #47D764, #47D764 50%);
    background-size: 200% 100%;
    animation: loadingAnimation 5s linear 1;
    margin-bottom: 10px;
    border-radius: 10px;
    animation: loadingAnimation 10s linear forwards;
    display: none;
}
.toast.success {
    transition: opacity 0.5s ease;
}
.toast.error {
    transition: opacity 0.5s ease;
}
.toast.warning {
    transition: opacity 0.5s ease;
}
/*============*/